.photo-grid {
  max-width: calc(100% - 2*48px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 16px;
  margin: 0 auto 12px auto;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 2*24px);
    grid-template-columns: repeat(auto-fit, minmax(44vw, 1fr));
    gap: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 2*16px);
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 14px;
  }
}