.header__lang-link_en {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__lang-link_en {
    font-size: 16px;
  }
}
  